@font-face{
    font-family:"TitilliumWeb-regular";
    src:url("fonts/TitilliumWeb-Regular.ttf") format("truetype");
}
@font-face{
    font-family:"TitilliumWeb-bold";
    src:url("fonts/TitilliumWeb-Bold.ttf") format("truetype");
}
@font-face{
    font-family:"TitilliumWeb-light";
    src:url("fonts/TitilliumWeb-Light.ttf") format("truetype");
}
@font-face{
    font-family:"TitilliumWeb-semibold";
    src:url("fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
}